################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UmbBackofficeAdAspNetProvider/packages
/UmbBackofficeAdAspNetProvider/UmbBackofficeAdAspNetProvider/bin
/UmbBackofficeAdAspNetProvider/UmbBackofficeAdAspNetProvider/obj/Debug
/UmbBackofficeAdAspNetProvider/.vs/UmbMembershipProvider/v14
/UmbMembershipProvider/.vs/UmbMembershipProvider/v14
/UmbMembershipProvider/.vs/UmbMembershipProvider/v14
/UmbMembershipProvider/packages
/UmbMembershipProvider/UmbBackofficeMembershipProvider
/UmbMembershipProvider/.vs/UmbBackofficeMembershipProvider/v14
/src/packages
/src/UmbBackofficeMembershipProvider/bin
src/UmbBackofficeMembershipProvider/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/UmbBackofficeMembershipProvider/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/UmbBackofficeMembershipProvider/obj
*.suo
/src/.vs/UmbBackofficeMembershipProvider/v15/Server/sqlite3
