################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UmbBackofficeAdAspNetProvider/packages
/UmbBackofficeAdAspNetProvider/UmbBackofficeAdAspNetProvider/bin
/UmbBackofficeAdAspNetProvider/UmbBackofficeAdAspNetProvider/obj/Debug
/UmbBackofficeAdAspNetProvider/.vs/UmbMembershipProvider/v14
/UmbMembershipProvider/.vs/UmbMembershipProvider/v14
/UmbMembershipProvider/.vs/UmbMembershipProvider/v14
/UmbMembershipProvider/packages
/UmbMembershipProvider/UmbBackofficeMembershipProvider
/UmbMembershipProvider/.vs/UmbBackofficeMembershipProvider/v14
/src/packages
/src/UmbBackofficeMembershipProvider/bin
